div {
                width:300px;
                height: 200px;
                margin:10% 10% 10% 36%;
                border-radius: 2%;
            }
            #capinput {
                margin:0 50px 0 68px;
                text-align: center;
                border-radius: 2px 10px;
                font-family:'Baloo Bhaina', cursive;
                box-shadow: 5px 5px 5px 2px black;
                font-size: large;
            }
            label {
                margin:0 50px 0 68px;
                text-align: center;
                border-radius: 2px 10px;
                font-size: small;
                font-family:'Baloo Bhaina', cursive;
            }
            #captcha {
                height: 50px;
                margin: 0 50px 5px 68px;
                text-align: center;
                border-radius: 5px 20px;
                font-family:'Baloo Bhaina', cursive;
                font-size: large;
                text-decoration: line-through;
                box-shadow: 5px 5px 5px 2px black;
            }
            #Submit {
                margin: 0 5px auto 68px;
                border-radius: 2px 15px;
                border:none;
                background-color: green;
                text-decoration: none;
                display: inline-block;
                color: white;
                padding: 5px 15px;
                font-family:'Baloo Bhaina', cursive;
                font-size: large;
                box-shadow: 5px 5px 5px 2px black;
            }
            #Submit:hover {
                background-color: white;
                color:green;
            }
            #Refresh {
                border-radius: 2px 15px;
                border:none;
                background-color: #008CBA;
                text-decoration: none;
                display: inline-block;
                color: white;
                padding: 5px 15px;
                font-family:'Baloo Bhaina', cursive;
                font-size: large;
                margin: 0 auto auto 20px;
                box-shadow: 5px 5px 5px 2px black;
            }
            #Refresh:hover {
                background-color: white;
                color: blue;
            }
            body {
                background-image: url("img5.jpg");
                color: white;
                font-family:'Baloo Bhaina', cursive;
                font-size: 15px;
              }
            h1 {
                margin: 6% 15% 0 38.5%;
                font-size:40px;
                text-shadow: 7px 7px 6px black;
            }